# https://github.com/straup/markov-phone#daily-sh

# sayer.js configs

MRKVPH_SAYER_NAME=
MRKVPH_SAYER_SEED=
MRKVPH_SAYER_HOST=
MRKVPH_SAYER_PORT=
MRKVPH_SAYER_URL="http://${MRKVPH_SAYER_HOST}:${MRKVPH_SAYER_PORT}"

# putter.py configs

MRKVPH_AWS_KEY=
MRKVPH_AWS_SECRET=
MRKVPH_S3_BUCKET=

# caller.py configs

MRKVPH_TWILIO_SID=
MRKVPH_TWILIO_TOKEN=
MRKVPH_TWILIO_FROM=
MRKVPH_TWILIO_TO=
MRKVPH_TWILIO_URL="http://${MRKVPH_S3_BUCKET}.s3.amazonaws.com/${DAILY}"